Django==1.4
PyGithub==1.3
South==0.7.5
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.10
celery==3.0.1
dj-database-url==0.2.1
django-celery==3.0.1
django-social-auth==0.7.0
docutils==0.9.1
gunicorn==0.14.5
httplib2==0.7.4
kombu==2.2.6
oauth2==1.5.211
psycopg2==2.4.5
python-dateutil==1.5
python-openid==2.2.5
requests==0.13.3
wsgiref==0.1.2
http://github.com/Yipit/django-extensions/tarball/8316af95ba03d9067b32427ac147ecf5b528b2fe
