{% extends "base.html" %}

{% block content %}
  <h2>Welcome to Just The README!</h2>
  <p>
    Lorem ipsum. asfdljasl lsdjf lsj flsaj .
  </p>
  <hr>
  {% for repo in repos %}
  <div class="hero-unit">
    <div class="repo_meta">
        <p>Author: <a href="http://github.com/{{ repo.user.username }}">{{ repo.user.username }}</a></p>
        <a href="{{ repo.url }}">Link</a>
    </div>
    {% if repo.readme_text %}
        <p>
          {{ repo.formatted_readme }}
        </p>
    {% else %}
        <h1>{{ repo.name }}</h1>
    {% endif %}
  </div>
  <hr>
  {% endfor %}
{% endblock %}