{% extends "base.html" %}

{% block content %}
  <div class="hero-unit">
    <h1>Hello, world!</h1>
    <p>
        {{ message }}
    </p>
  </div>
  <hr>
  {% for repo in repos %}
  <div class="hero-unit">
    <div class="repo_meta">
        <a href="{{ repo.url }}">Link</a>
        <p>{{ repo.user.username }}</p>
    </div>
    {% if repo.readme_text %}
        <p>
          {{ repo.formatted_readme }}
        </p>
    {% else %}
        <h1>{{ repo.name }}</h1>
    {% endif %}
  </div>
  <hr>
  {% endfor %}
{% endblock %}